# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Math Concepts For Developers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
